@font-face {
  font-family: 'Bangers';
  src: url('../fonts/Bangers.woff');
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

h1,
h3{
  font-family: 'Bangers';
  letter-spacing: 2px;
}

h6{
  font-size: 1em;
}