*,
:after,
:before {
  box-sizing: inherit;
  position: relative;
}

:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0 0 0 24px;
}

p {
  margin: 0 0 20px;
}
