[flex],
flex {
  display: flex;
}

[flex=row] {
  flex-direction: row;
}

[flex=col] {
  flex-direction: column;
}

[flex=center] {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
