#screen{

  #game{
    @include fullScreen;
    transform: translate(0, -100vh);
    transition: transform ease .3s;
    background: $greyLightTrans;
    color: #FFF;
  }

  #game-choice,
  #game-control{
    @include absoCenter;
    width: calc(100% - 40px);

    button{
      width: 100%;
      margin-top: 10px;
      font-family: 'Bangers';
      text-transform: uppercase;
      font-size: 24px;
      padding: 10px 40px;
      letter-spacing: 2px;
    }

    #social-share{
      display: none;
    }
  }

  #game-result{
    @include absoCenter;
    top: 80px;
    width: calc(100% - 40px);
    transform: scale(1,0) translate(-50%, 0);
    opacity: 0;
    transition: all cubic-bezier(0.74,-0.08, 1, 1.24) .2s;

    p,
    h1,
    h2,
    h3{
      margin: 0 auto;
      color: #FFF;
      display: table;
      background: $orangeTrans;
      padding: 0 9px;
    }

    p{
      font-size: 1.4em;
      margin: 0 auto 5px;
    }

    h1{
      margin: 10px auto;
      text-transform: uppercase;
      font-size: 14vh;
    }

    h3{
      font-size: 7vh;
    }

    h2{
      font-size: 9vh;
      text-transform: uppercase;
    }
  }

  &.state-game{

    #game{
      transform: translate(0, 0);
    }

    #game-choice{
      bottom: 20px;
    }

    #game-control{
      display: none;
    }

    &.result{

      #game-result{
        transform: scale(1,1) translate(-50%, 0);
        opacity: 1;
      }

      #game-choice{
        display: none;
      }

      #game-control{
        bottom: 20px;
        display: block;

        &.share #social-share{
          display: block;
        }
      }
    }
  }
}