$orange: #F60;
$orangeLight: lighten( $orange, 40% );
$orangeDark: darken( $orange, 20% );
$orangeTrans: rgba(255,102,0,0.5);

$greyDark: #2d2e2c;
$greyLight: #eaeaea;
$greyLightTrans: rgba(194,194,194,0.7);



$mobile: "max-width: 720px";
$tablet: "max-width: 1024px";
$desktop: "min-width: 1025px";
$notMobile: "min-width: 721px";


// mixins

@mixin fullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@mixin absoCenter {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}
